body{
	background-color: #FFFFFF;
}
header{
	position: relative;
	max-width: 100%;
	overflow: auto;
}


#logo{
	height: 150px;
	width: 150px;
	float: left;
	padding: 1px 50px 25px 25px;
}

#menu{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #4F4A41;
	list-style-type: none;
	overflow: hidden;
	text-decoration: none;
}

a{
	text-decoration: none;
}

li a{
	float: left;
	display: inline-block;
	color: black;
	padding: 14px 16px;
}

li a:hover{
	background-color: #000000;
	color: white;
	border-radius: 8px;
	text-decoration: none;
}

#insta{
	height: 40px;
	width: 40px;
}


.slider{
	overflow: hidden;
}

.slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}

.slider figure img{
	width: 20%;
	float: left;
}

@keyframes slider{
	0%{
		left: 0;
	}
	20%{
		left: 0;
	}
	25%{
		left: -100%;
	}
	45%{
		left: -100%;
	}
	50%{
		left: -200%;
	}
	70%{
		left: -200%;
	}
	75%{
		left: -300%;
	}
	95%{
		left: -300%;
	}
	100%{
		left: -400%;
	}
	.info{
		position: unset;
		padding: 15px;
		margin: 15px;
		text-align: center;
	}
	.marcas{
		background-color: #f6f6f6;
		width: 100%;
		text-align: center;
	}
}